@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(/assets/font/Pretendard-Black.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(/assets/font/Pretendard-ExtraBold.woff2)format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(/assets/font/Pretendard-Bold.woff2)format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(/assets/font/Pretendard-SemiBold.woff2)format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(/assets/font/Pretendard-Medium.woff2)format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	src: local('Pretendard Regular'),url(/assets/font/Pretendard-Regular.woff2)format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	src: local('Pretendard Light'), url(/assets/font/Pretendard-Light.woff2) format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	src: local('Pretendard ExtraLight'), url(/assets/font/Pretendard-ExtraLight.woff2);
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	src: local('Pretendard Thin'),url(/assets/font/Pretendard-Thin.woff2) format('woff2');
}

@font-face {
	font-family: 'PP Neue Montreal';
	font-weight: 400;
	src: url(/assets/font/PPNeueMontreal-Regular.woff2);
}
@font-face {
	font-family: 'PP Neue Montreal';
	font-weight: 500;
	src: url(/assets/font/PPNeueMontreal-Medium.woff2);
}

@font-face {
	font-family:'PP Editoria lNew';
	src: url(/assets/font/PPEditorialNew-Regular.woff2);
	font-weight: 400;
}
@font-face {
	font-family:'PP Editoria lNew';
	src: url(/assets/font/PPEditorialNew-Light.woff2);
	font-weight: 300;
}
@font-face {
	font-family:'PP Editoria lNew serif';
	src: url(/assets/font/PPEditorialNew-LightItalic.woff2);
	font-weight: 300;
}
@font-face {
	font-family:'PP Editoria lNew serif';
	src: url(/assets/font/PPEditorialNew-Italic.woff2);
}
