
// abstract
@import './abstract/mixins';

// base
@import './base/typography';
@import './base/reset';
@import './base/common';

// layout
@import './layout/header';
@import './layout/footer';

// pages
@import './pages/main';


@include desktop{
    .sc-intro{
        font-size: 20px;
        .study-card{
            position: absolute;
            right: 0;
            background-color: #fff;
            color: #eee;
        }
    }
}

@include tablet{
.sc-project{
    .title{
        color: #db4c44;
    }
}
}
@include mobile{}
