@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(/assets/font/Pretendard-Black.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(/assets/font/Pretendard-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(/assets/font/Pretendard-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(/assets/font/Pretendard-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(/assets/font/Pretendard-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: local("Pretendard Regular"), url(/assets/font/Pretendard-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: local("Pretendard Light"), url(/assets/font/Pretendard-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: local("Pretendard ExtraLight"), url(/assets/font/Pretendard-ExtraLight.woff2);
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: local("Pretendard Thin"), url(/assets/font/Pretendard-Thin.woff2) format("woff2");
}
@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 400;
  src: url(/assets/font/PPNeueMontreal-Regular.woff2);
}
@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 500;
  src: url(/assets/font/PPNeueMontreal-Medium.woff2);
}
@font-face {
  font-family: "PP Editoria lNew";
  src: url(/assets/font/PPEditorialNew-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "PP Editoria lNew";
  src: url(/assets/font/PPEditorialNew-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "PP Editoria lNew serif";
  src: url(/assets/font/PPEditorialNew-LightItalic.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "PP Editoria lNew serif";
  src: url(/assets/font/PPEditorialNew-Italic.woff2);
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  --font-en:"PP Neue Montreal", sans-serif;
  --font-kr:"pretendard", sans-serif;
  --font-serif:"PP Editoria lNew",sans-serif;
}

html, body {
  height: 100%;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
}

body {
  font-family: "pretendard", sans-serif;
  font-size: 18px;
  background-color: #b2b2a8;
  color: #3f3b37;
  font-weight: 400;
  padding: 20px;
  word-break: keep-all;
}

.wrapper {
  padding: 30px;
  border-radius: 2rem;
  background-color: #d6d5d0;
  position: relative;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.title {
  font-family: var(--font-en);
  font-weight: 500;
  letter-spacing: -0.03em;
}

.bar {
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #1a4737;
}

.header {
  margin-bottom: 120px;
  font-weight: 500;
}
.header .header-top {
  position: relative;
  width: 100%;
  font-family: var(--font-serif);
  display: flex;
  justify-content: space-between;
  color: #1a4737;
  font-size: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
.header .header-top span {
  flex: 1;
}
.header .header-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  overflow: hidden;
}
.header .header-bottom > * {
  transform: translateY(-100%);
  opacity: 0;
}

.footer {
  width: 100%;
  padding: 20px 80px;
  position: absolute;
  color: #fbefdf;
  bottom: 50px;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.sc-intro {
  font-family: var(--font-en);
  font-weight: 500;
  margin-bottom: 27vh;
  position: relative;
}
.sc-intro > div {
  font-size: 140px;
  color: #1a4737;
  overflow: hidden;
  position: relative;
}
.sc-intro .intro-box1 {
  text-align: center;
}
.sc-intro .intro-box2 .txt1 {
  flex: 1;
  display: block;
}
.sc-intro .intro-box2 .txt1.talent {
  text-align: right;
}
.sc-intro .intro-menu .menu-item {
  overflow: hidden;
}
.sc-intro .intro-menu .menu-item .about-card {
  top: 10px;
  left: 0;
  background-color: #fbefdf;
}
.sc-intro .intro-menu .menu-item .project-card {
  top: 0px;
  right: 0;
  background-color: #db4c44;
  color: #fbefdf;
}
.sc-intro .intro-menu .menu-item .study-card {
  right: 20%;
  top: 50%;
  transform: translateY(-52%);
  background-color: #518f68;
  color: #fbefdf;
}
.sc-intro .intro-menu .menu-item .contact-card {
  bottom: 15px;
  left: 0;
  background-color: #e7aa2c;
}
.sc-intro .intro-menu .menu-item > a {
  font-size: 14px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 270px;
  height: 105px;
  padding: 15px 25px 15px 15px;
  border-bottom-right-radius: 2rem;
  color: #3f3b37;
  transition: color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s;
}
.sc-intro .intro-menu .menu-item > a:hover {
  color: #fbefdf;
  transition-delay: 0s, 0.6s;
}
.sc-intro .intro-menu .menu-item > a:hover::before {
  transform: scaleY(1);
}
.sc-intro .intro-menu .menu-item > a::before {
  transform-origin: bottom;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  display: block;
  background-color: #3f3b37;
  position: absolute;
  width: 270px;
  height: 105px;
  z-index: -1;
}

.sc-project {
  padding-bottom: 200px;
}
.sc-project h2.title {
  font-size: 140px;
  color: #1a4737;
  margin-bottom: 50px;
}
.sc-project h2.title .tt-wrap {
  position: relative;
}
.sc-project h2.title strong {
  display: block;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}
.sc-project h2.title .sub-tt2 {
  text-align: right;
  padding-right: 10px;
}
.sc-project h2.title .sub-tt3 {
  text-align: center;
}
.sc-project .project-wrap {
  display: grid;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-gap: 20px;
}
.sc-project .project-wrap > a {
  display: block;
  border-bottom-right-radius: 2.8rem;
  height: 27rem;
  min-height: 16.8rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.sc-project .project-wrap > a img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.3s linear;
}
.sc-project .project-wrap > a:hover .txt-box {
  opacity: 0;
}
.sc-project .project-wrap > a:hover img {
  scale: 1.05;
}
.sc-project .project-wrap > a:hover .hover-box {
  transform: translateY(0);
}
.sc-project .project-wrap .grid {
  grid-column: auto/span 6;
}
.sc-project .project-wrap .grid2 {
  grid-column: auto/span 9;
}
.sc-project .project-wrap .project-link7 {
  grid-column: 4/span 6;
}
.sc-project .project-wrap .project-link7 .hover-box {
  background-color: #3f3b37;
  color: #fff;
}
.sc-project .project-wrap .project-link8 {
  grid-column: 10/span 6;
}
.sc-project .project-wrap .txt-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(4, 30, 0, 0.7);
  color: #fff;
  padding: 2rem;
  transition: all 0.3s linear;
}
.sc-project .project-wrap .txt-box .pj-title {
  height: inherit;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 35px;
  font-family: var(--font-en);
  letter-spacing: -0.03em;
}
.sc-project .project-wrap .txt-box .txt-top {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.sc-project .project-wrap .hover-box {
  width: 100%;
  line-height: 150px;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-en);
  letter-spacing: -0.03em;
  transition: all 0.3s linear;
}
.sc-project .project-wrap .hover-box.gray {
  background-color: #3f3b37;
  color: #fff;
}
.sc-project .project-wrap .hover-box.yellow {
  background-color: #e7aa2c;
}
.sc-project .project-wrap .hover-box.red {
  background-color: #db4c44;
  color: #fff;
}
.sc-project .project-wrap .hover-box.white {
  background-color: #fbefdf;
}
.sc-project .project-wrap .hover-txt {
  z-index: 3;
  font-size: 130px;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sc-study {
  margin-bottom: 200px;
}
.sc-study .title-wrap {
  position: relative;
}
.sc-study .title {
  text-align: center;
  font-size: 140px;
  color: #1a4737;
  margin-bottom: 50px;
  padding: 10px 0;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-study .title {
    font-size: 30px;
  }
}
@media (max-width: 780px) {
  .sc-study .title {
    font-size: 20px;
  }
}
.sc-study .info {
  margin-bottom: 50px;
  text-align: center;
}
.sc-study .study-link {
  z-index: 1;
  border-radius: 30px;
  display: block;
  line-height: 30px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background-color: #3f3b37;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s;
}
.sc-study .study-link:hover {
  color: #3f3b37;
  transition-delay: 0s, 0.6s;
}
.sc-study .study-link:hover::after {
  transform: translateY(0);
}
.sc-study .study-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e7aa2c;
  width: 300px;
  height: 60px;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}

.sc-contact {
  color: #fbefdf;
  background-color: #3f3b37;
  border-radius: 40px;
  padding: 40px 40px 80px 40px;
}
.sc-contact .contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
}
.sc-contact .contact-info .desc {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 150px;
}
.sc-contact .contact-info .mail-box {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  border: 1px solid #fbefdf;
  border-bottom-right-radius: 2.8rem;
  padding: 2rem;
  overflow: hidden;
}
.sc-contact .contact-info .mail-box:hover .hover-txt {
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sc-contact .contact-info .mail-box:hover .mail-title {
  transform: translateY(100%);
}
.sc-contact .contact-info .mail-box .txt-top {
  display: flex;
  justify-content: space-between;
}
.sc-contact .contact-info .mail-box .mail-title {
  height: 100%;
  align-items: end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  transition: transform 1s linear;
}
.sc-contact .title {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.sc-contact .title span {
  font-size: 140px;
}
.sc-contact .title .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fbefdf;
}
.sc-contact .contact-link {
  z-index: 1;
  border-radius: 30px;
  display: block;
  line-height: 25px;
  width: 170px;
  margin: 100px 0;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  background-color: #db4c44;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s;
}
.sc-contact .contact-link:hover {
  color: #3f3b37;
  transition-delay: 0s, 0.6s;
}
.sc-contact .contact-link:hover::after {
  transform: translateY(0);
}
.sc-contact .contact-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e7aa2c;
  width: 300px;
  height: 60px;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}
.sc-contact::before {
  background-color: #3f3b37;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
}
.sc-contact .bar-wrap {
  position: relative;
  text-align: center;
}
.sc-contact .bar-wrap .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fbefdf;
}
.sc-contact .mail-hover {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  font-family: var(--font-en);
  letter-spacing: -0.03em;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
}
.sc-contact .mail-hover .hover-txt span {
  transform: translateY(100%);
  padding-right: 10px;
  font-size: 150px;
}

.btn-top {
  color: #3f3b37;
  z-index: 10;
  font-weight: 200;
  font-size: 40px;
  position: fixed;
  border-radius: 50px;
  border: 1px solid #3f3b37;
  right: 10px;
  bottom: 50px;
  width: 80px;
  height: 80px;
  background-color: rgba(231, 170, 44, 0.7);
  margin-bottom: 50px;
  transform: rotate(-90deg);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
}
.btn-top.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1200px) {
  .sc-intro {
    font-size: 20px;
  }
  .sc-intro .study-card {
    position: absolute;
    right: 0;
    background-color: #fff;
    color: #eee;
  }
}
@media (max-width: 1023px) {
  .sc-project .title {
    color: #db4c44;
  }
}
@media (max-width: 1200px) {
  .sc-intro {
    font-size: 20px;
  }
  .sc-intro .study-card {
    position: absolute;
    right: 0;
    background-color: #fff;
    color: #eee;
  }
}
@media (max-width: 1023px) {
  .sc-project .title {
    color: #db4c44;
  }
}