$color:#1a4737;
$mobile: 780px;
$tablet: 1023px;
$desktop: 1200px;


@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin top{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin left{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin border{
    border-bottom: 1px solid $color;
}

// @mixin animation ($name, $delay, $duration, $count) {
//     animation-name: $name;
//     animation-delay: $delay;
//     animation-duration: $duration;
//     animation-iteration-count: $count;
// }


@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframe ($animation_name) {
    @keyframes #{$animation_name} {
        @content;
    }
}





@mixin mobile{
    @media (max-width: $mobile){
        @content;
    }
}
@mixin tablet{
    @media (max-width: $tablet){
        @content;
    }
}
@mixin desktop{
    @media (max-width: $desktop){
         @content;
    }
}